@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
/* 
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

:root {
    font-family: "Manrope", sans-serif;
    color: black;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
li,
button {
    text-decoration: none;
    list-style: none;
    background: none;
}
.link {
    list-style: none;
}

.container {
    max-width: 1430px;
    padding: 0 20px;
    margin: 0 auto;
} */
