@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

..aside-link {
    @apply flex items-center gap-3 px-4 py-2 rounded text-gray-600 hover:bg-gray-100 transition;
}

.aside-link--active {
    @apply bg-indigo-500 text-white font-medium;
}

.icon {
    @apply w-5 h-5 transition;
}

.icon--default {
    filter: invert(30%);
}

.icon--active {
    filter: brightness(0) invert(1); /* делает иконку белой */
}
/* 
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

:root {
    font-family: "Manrope", sans-serif;
    color: black;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
li,
button {
    text-decoration: none;
    list-style: none;
    background: none;
}
.link {
    list-style: none;
}

.container {
    max-width: 1430px;
    padding: 0 20px;
    margin: 0 auto;
} */
