@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.aside-link {
    @apply flex items-center gap-3 px-4 py-2 rounded text-gray-600 transition;
}

.aside-link:not(.aside-link--active):hover {
    @apply bg-gray-100;
}
.aside-link--active {
    @apply bg-indigo-500 text-white font-medium;
}

.icon {
    @apply w-5 h-5 transition;
}

.icon--default {
    filter: invert(30%);
}

.icon--active {
    filter: brightness(0) invert(1); /* делает иконку белой */
}

.aside-link--active {
    background-color: #2563eb;
    color: white;
}

.aside-link--active .icon {
    filter: brightness(0) invert(1); /* ← делает иконку белой */
}
